<%= form_with(model: tenant, local: true) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
      <% tenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tenant_name %>
    <%= form.text_field :tenant_name, id: :tenant_tenant_name %>
  </div>

  <div class="field">
    <%= form.label :address_line1 %>
    <%= form.text_field :address_line1, id: :tenant_address_line1 %>
  </div>

  <div class="field">
    <%= form.label :address_line2 %>
    <%= form.text_field :address_line2, id: :tenant_address_line2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :tenant_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :tenant_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :tenant_country %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode, id: :tenant_pincode %>
  </div>

  <div class="field">
    <%= form.label :active_by %>
    <%= form.text_field :active_by, id: :tenant_active_by %>
  </div>

  <div class="field">
    <%= form.label :isactive %>
    <%= form.check_box :isactive, id: :tenant_isactive %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at, id: :tenant_deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
