<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id, id: :user_email_id %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :user_phone_number %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id, id: :user_player_id %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_field :remarks, id: :user_remarks %>
  </div>

  <div class="field">
    <%= form.label :isactive %>
    <%= form.check_box :isactive, id: :user_isactive %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at, id: :user_deleted_at %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id, id: :user_role_id %>
  </div>

  <div class="field">
    <%= form.label :user_type_id %>
    <%= form.text_field :user_type_id, id: :user_user_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
