<p id="notice"><%= notice %></p>

<p>
  <strong>Operator name:</strong>
  <%= @operator.operator_name %>
</p>

<p>
  <strong>Operator spec:</strong>
  <%= @operator.operator_spec_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @operator.description %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @operator.is_active %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @operator.deleted_at %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @operator.tenant %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
